* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f1f1f1;
}

.booklist {
  width: 90vw;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.Navbar{
  background-color: #121212;
  padding: 20px;
}

ul > li{
  display: inline-block;
  padding: 10px;
  color: white;
}

.Landingpage{
  padding: 30px;
}

.Footer{
  background-color: #121212;
  padding: 20px;
}

.Footer h1{
  color: white;
}
